.username-form {
  font-family: sans-serif;
  text-align: center;
  width: 70%;
  margin: auto;
  margin-top: 4em;
  padding: 1em;
  /* border: 3px solid green; */
}

.footer {
  font-family: sans-serif;
  text-align: center;
  width: 100%;
  padding-top: 1em;
}
